<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <!-- Connection strings -->
  <!-- TODO: Update Connection strings. -->
  <connectionStrings>
    <add name="DataContext" connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=Database;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- Service model configuration -->
  <system.serviceModel>

    <bindings>
      <webHttpBinding>
        <binding name="webHttpsBinding" crossDomainScriptAccessEnabled="true">
          <security mode="Transport">
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <protocolMapping>
      <add scheme="https" binding="webHttpBinding" bindingConfiguration="webHttpsBinding" />
    </protocolMapping>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthenticationManager authenticationSchemes="Negotiate" />
          <serviceAuthorization serviceAuthorizationManagerType="WcfRestTemplate.Business.AuthManager, WcfRestTemplate.Business" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="web">
          <webHttp defaultOutgoingResponseFormat="Json" helpEnabled="true" faultExceptionEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <!-- Add services here -->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true">
      <serviceActivations>
        <!-- TODO: Add services here: -->
        <add relativeAddress="ExampleService.svc" service="WcfRestTemplate.Service.Example.ExampleService" factory="Ninject.Extensions.Wcf.NinjectServiceHostFactory" />
      </serviceActivations>
    </serviceHostingEnvironment>

    <!-- Also add services here :D -->
    <services>
      <!-- TODO: Add services here. -->
      <service name="WcfRestTemplate.Service.Example.ExampleService">
        <endpoint contract="WcfRestTemplate.Service.Example.IExampleService" binding="webHttpBinding" behaviorConfiguration="web" bindingConfiguration="webHttpsBinding" />
      </service>
    </services>
  </system.serviceModel>

  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.7" />
  </system.web>
  <!-- Log4Net configuration. -->
  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %5level [%thread] [%logger{1}] : %message%newline" />
      </layout>
    </appender>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="./logs/log.log" />
      <rollingStyle value="Date" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="yyyyMMdd-HH" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %5level [%thread] [%logger{1}] : %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="TraceAppender" />
    </root>
  </log4net>
  <!-- Entity framework configuration. -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>